.app-login {
    width: 350px;
    height: 750px;
    background-color: rgb(206, 68, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    .sex-chooser {
        display: flex;
    }

    .login-button {
        outline: none;
        color:  rgb(206, 68, 64);
        padding: 16px 32px;
        border: none;
        border-radius: 100px;
        background-color: white;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.1s;

        span {
            display: block;
            width: 160px;
        }

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px 0 0 rgba(0,0,0,0.3);
        }
    }

    .age-input {
        padding: 16px 32px;
        width: 160px;
        border: none;
        border-radius: 100px;
        background-color: rgb(187, 58, 53);
        cursor: pointer;
        outline: none;
        color: white;
        font-size: 18px;
        -webkit-appearance: none;
        text-align: center;

        &:hover {
            background-color: rgb(170, 51, 47);
        }
    }
}